*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
    body{
      background-color:black;
    }
    .parent_box{
       height:250px;
       width:35vw;
       border:2px solid black;
       position:relative;
       margin-left:33%;
       margin-top:10%;
       background-color:black;
       border-radius:50px 0px 50px 0px;
       box-shadow:40px 27px 20px  rgb(161, 158, 158);
       /* box-shadow:10px 7px 10px  rgb(161, 158, 158); */
    }
    .screen{
       position:absolute;
       display:flex;
       top:20%;
       left:25%;
       font-weight:bolder;
       font-size:40px;
       color:white;
       background-color:black;
       height:auto;
       width:200px;
       /* box-shadow:10px 7px 10px  rgb(161, 158, 158); */
    }
    .button_div{
      position:absolute;
      top:50%;
      left:23%;
    }
    button{
      height:50px;
      width:70px;
      border-radius:5px 7px 5px 7px;
      font-size:22px;
      color:rgb(19, 18, 18);
      box-shadow:10px 7px 10px  rgb(161, 158, 158);
     /* background-color:black; */
    }